* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

body {
  font-size: 12px;
}

.container {
  display: grid;
  grid-template-areas: "h1" "nav" "main" "footer";
}

h1 {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: burlywood;
  grid-area: h1;
}

h2 {
  text-align: center;
  padding: 15px;
  width: 100%;
}

/* MAIN */
main {
  grid-area: main;
  position: relative;
}

/* PORTADA */
#logo_portada {
  position: absolute;
  top: 50px;
  left: 42.5%;
  width: 15%;
}

#img_portada {
  width: 100%;
}

.portada {
  display: flex;
  justify-content: center;
}

/* SUSCRIBITE */
.suscribite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 15px;
}

.suscribite h3 {
  margin-bottom: 5px;
}

/* MULTIMEDIA */
.multimedia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* NAV */
nav {
  display: flex;
  justify-content: center;
  background-color: rgb(223, 167, 95);
  grid-area: nav;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav ul li:hover {
  background-color: rgb(221, 150, 57);
  transform: scale(1.1);
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  display: block;
  padding: 15px;
}

/* FOOTER */
footer {
  background-color: black;
  text-align: center;
  color: burlywood;
  border-top: solid 3px burlywood;
  margin-top: 15px;
  padding: 5px;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h3 {
  padding: 10px;
}

footer img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* BUTTON WHATSAPP */
.btn_whatsapp {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 40px;
  height: 40px;
}

/* PRODUCTOS */
.productos_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.item_producto {
  display: flex;
  flex-flow: wrap column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transition: all 1.2s;
}

.item_producto:hover {
  transform: scale(1.2);
}

.img_producto {
  width: 200px;
  height: 250px;
}

.productos img {
  width: 100%;
}

/* SOBRE NOSOTROS */
.sobre_nosotros p {
  text-align: center;
  padding: 10px 10px;
  margin-bottom: 15px;
  line-height: 1.8;
}

.sobre_nosotros_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

span {
  color: red;
  font-weight: bold;
}

/* CONTACTO */
.contact_grid {
  text-align: center;
  background-color: rgb(252, 239, 228);
  border-radius: 10px;
  margin: 10px;
}

.contact_title {
  text-align: center;
  font-size: 30px;
  padding: 0px 0px 10px 0px;
}

.nuestro_contacto {
  padding: 10px;
}

.nuestro_contacto ul {
  padding-bottom: 10px;
}

.form {
  padding: 10px;
}

.contact_grid form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

form label {
  display: block;
}

input:focus, textarea:focus {
  outline: 3px solid rgb(221, 150, 57);
}

.full_width {
  grid-column: 1/3;
}

textarea {
  width: 100%;
}

button {
  background-color: burlywood;
  border: none;
  font-weight: bolder;
  padding: 5px;
}

button:hover {
  background-color: rgb(221, 150, 57);
  border: black 2px solid;
}

/* MEDIA */
@media (min-width: 400px) {
  body {
    font-size: 16px;
  }

  h2 {
    padding: 20px;
  }

  .productos_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
@media (min-width: 600px) {
  body {
    font-size: 25px;
  }

  h2 {
    padding: 40px;
  }

  .contact_grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .sobre_nosotros p {
    padding: 0px 50px;
  }

  .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .productos img {
    width: 49%;
  }

  .productos_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }

  .btn_whatsapp {
    right: 20px;
    bottom: 20px;
    width: 80px;
    height: 80px;
  }

  footer h3 {
    font-size: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
